<div class="flex gap-32">
    <div></div>
    <mat-card style="width: 200px">
        <mat-card-title style="text-align: center;">
            <button routerLink="/orders">Total
                Orders</button></mat-card-title>
        <h6 class="font-bold" style="color:rgb(94, 94, 179);text-align:center">{{ totalorders }}</h6>
    </mat-card>
    <div></div>
    <mat-card style="width: 200px">
        <mat-card-title style="text-align: center;"><button routerLink="/products">Total
                Products</button></mat-card-title>
        <h6 class="font-bold" style="color:rgb(94, 94, 179);text-align: center">{{ totalproducts }}</h6>
    </mat-card>
    <div></div>
    <mat-card style="width: 200px">
        <mat-card-title style="text-align: center;"><button routerLink="/brands">Total
                Brands</button></mat-card-title>
        <h6 class="font-bold" style="color:rgb(94, 94, 179);text-align: center">{{ totalbrands }}</h6>
    </mat-card>
</div>