form {
    width: 700px;
    height: 300px;
    position: absolute;
    right: 500px;
    bottom: 300px;
}

/* .fs-4 {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.try {
    right: 5px
}