<div class="contact-us-container">
    <div class="contact-card">
        <h2>Contact Us</h2>
        <p style="text-align: center;">If you have any questions or need support, feel free to reach out to us.</p>
        <br>
        <div class="contact-info">
            <p><strong>Phone:</strong> 91+7014111689</p>
            <p><strong>Email:</strong> <a href="mailto:vidushi@cambiante.in"> vidushi&#64;cambiante.in</a></p>
        </div>

        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="name">Full Name</label>
                <input formControlName="name" type="text" placeholder="Enter your name" class="form-control" />
            </div>

            <div class="form-group">
                <label for="email">Email Address</label>
                <input formControlName="email" type="email" placeholder="Enter your email" class="form-control" />
            </div>

            <button type="submit" class="btn-submit">Submit</button>
        </form>
    </div>
</div>