<head>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
</head>
<mat-selection-list>
    <mat-list-item routerLink="/orders">
        <span class="material-symbols-outlined">orders</span> Orders</mat-list-item>
    <mat-list-item routerLink="/products">
        <span class="material-symbols-outlined">box</span> Products</mat-list-item>
    <mat-list-item routerLink="/brands">
        <span class="material-symbols-outlined">shoppingmode</span> Brands</mat-list-item>
    <mat-list-item routerLink="/about">
        <span class="material-symbols-outlined">groups</span> About</mat-list-item>
    <mat-list-item routerLink="/profile">
        <span class="material-symbols-outlined">account_box</span> Profile</mat-list-item>
    <mat-list-item routerLink="/cart">
        <span class="material-symbols-outlined">shopping_cart</span> Cart</mat-list-item>
    <button routerLink="/setting" style="bottom: 100px;">
        <span class="material-symbols-outlined">settings_accessibility</span> Settings
    </button>
    <button class="contact" routerLink="/contact">
        <span class="material-symbols-outlined">contact_page</span> Contact Us
    </button>
</mat-selection-list>