<style>
    table :hover {
        background-color: rgb(194, 194, 230);
    }
</style>
<div class="shadow-md bg-white border">
    <h1 class="text-xl font-bold" style="text-align:center;">PRODUCT DETAILS</h1>
    <br>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> SR NO..
                </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="product_name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"> NAME </th>
                <td mat-cell *matCellDef="let element"> {{element.product_name}} </td>
            </ng-container>

            <ng-container matColumnDef="product_company">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"> BRAND NAME
                </th>
                <td mat-cell *matCellDef="let element"> {{element.product_company}} </td>
            </ng-container>


            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <button mat-raised-button class="oval-btn"
                        [ngClass]="isInCart(element) ? 'remove-button' : 'add-button'" (click)="toggleCart(element)">
                        {{ isInCart(element) ? 'Remove from Cart' : 'Add to Cart' }}
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
        <mat-paginator [pageSizeOptions]="[5,10, 20]" showFirstLastButtons
            aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>