table,
tr,
tbody {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    padding: 15px;
}

tr:hover {
    background-color: rgb(188, 188, 226);
}

h1:hover {
    color: rgb(26, 77, 159);
    text-decoration: overline underline;
    font-size: x-large;
}